In [51]:
import sklearn
import numpy
import pandas as pd
import matplotlib.pyplot as plt

In [52]:
df = pd.read_csv('iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [53]:
df.isnull().sum()     # notnull().sum()

Id               0
SepalLengthCm    2
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          0
dtype: int64

In [54]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     148.000000    149.000000     149.000000    150.000000
mean    75.500000       5.838514      3.059732       3.752349      1.198667
std     43.445368       0.833118      0.429317       1.768668      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.300000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [55]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [56]:
### Convert dtype of any column: df['A'] = df['A'].astype(float)
### df['A'] = pd.to_numeric(df['A'])
### df['date'] = pd.to_datetime(df['date'])
### df['time'] = pd.to_timedelta(df['time'])

# df['SepalLengthCm'] = df['SepalLengthCm'].astype(int)
# df.dtypes

In [57]:
df['SepalLengthCm'].fillna(0, inplace=True)
df['SepalWidthCm'].fillna(0, inplace=True)
df['PetalLengthCm'].fillna(0, inplace=True)
df['PetalWidthCm'].fillna(0, inplace=True)

df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [63]:
df_encoded = pd.get_dummies(df, columns=['Species'])

df_encoded.columns

df_encoded['Species_Iris-setosa'] = df_encoded['Species_Iris-setosa'].astype(int)
df_encoded['Species_Iris-virginica'] = df_encoded['Species_Iris-virginica'].astype(int)
df_encoded['Species_Iris-versicolor'] = df_encoded['Species_Iris-versicolor'].astype(int)

df_encoded

# df_encoded.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
0,1,5.1,3.5,1.4,0.2,1,0,0
1,2,4.9,3.0,1.4,0.2,1,0,0
2,3,4.7,3.2,1.3,0.2,1,0,0
3,4,4.6,3.1,1.5,0.2,1,0,0
4,5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,0,0,1
146,147,6.3,2.5,5.0,1.9,0,0,1
147,148,6.5,3.0,5.2,2.0,0,0,1
148,149,6.2,3.4,5.4,2.3,0,0,1
149,150,5.9,3.0,5.1,1.8,0,0,1